<!DOCTYPE html>
<html lang="ja" ng-app="myapp">

</html>

<head>
    <meta charset="utf-8">
    <title>Angular traing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="myscript.js"></script>
</head>

<body>
    <h1>AngularJSのトレーニング</h1>
    <div ng-controller="MainController">
        <ul>
            <li ng-repeat="user in users" ng-controller="UserItemController">
                {{user.name}} {{user.score}}
                <button ng-click="increment()">+1</button>
            </li>
        </ul>
    </div>
</body>

</html>


</body>

</html>